doctype html 
html(lang='en')
    head 
        title AromaTales 
        link(rel='stylesheet', href='../public/css/styles.css')
    body 
        nav.top-nav
            div.logo
                img(src="../public/images/logo.png", alt="logo", srcset="")
            div.heading
                h1 AromaTales
                h3 Stories inspired by perfume
            div.menu 
                p menu
