doctype html 
html(lang='en')
    head 
        title AromaTales 
        link(rel='stylesheet', href='../public/css/styles.css')
        script(src="https://kit.fontawesome.com/7775c06804.js" crossorigin="anonymous")
    body 
        nav.top-nav
            div.logo
                img(src="../public/images/logo.png", alt="logo", srcset="")
            div.heading
                h1 AromaTales
                h3 Stories inspired by perfume
            div.about
                p About Me
        block content
        div.gallery-title 
            h2.gallery-title-white Blog / 
            h2.gallery-title-gray &nbsp;Fictional Short Stories
        div.gallery 
            div.gallery-column-1
                div.blogpost 
                    img(src="../public/images/br540.png", alt="Baccarat Rouge 540", srcset="")
                    h3 Baccarat Rouge 540
                    p Read More
                div.blogpost 
                    img(src="../public/images/black_phantom.png", alt="Black Phantom", srcset="")
                    h3 Black Phantom
                    p Read More
                div.blogpost 
                    img(src="../public/images/nio.png", alt="Nio", srcset="")
                    h3 Nio
                    p Read More
            div.gallery-column-2
                div.blogpost 
                    img(src="../public/images/encre_noire.png", alt="Encre Noire", srcset="")
                    h3 Encre Noire
                    p Read More
                div.blogpost 
                    img(src="../public/images/ganymede.png", alt="Ganymede", srcset="")
                    h3 Ganymede
                    p Read More
                div.blogpost 
                    img(src="../public/images/trex.png", alt="Tyrannosaurus Rex", srcset="")
                    h3 Tyrannosaurus Rex
                    p Read More
        footer 
            p Kavalashvili 
            i.fab.fa-github