/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Kanit&family=Open+Sans&display=swap');

/* font families 
font-family: 'Architects Daughter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* colors */
:root {
    --black: #000;
    --white: #FFF;
}

/* general */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-size: 1rem;
}